<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LISTEN_IP" value="192.168.1.234" />
    <add key="LISTEN_PORT" value="8686" />
    <add key="MULTICAST_IP" value="225.0.0.1" />
    <add key="MULTICAST_PORT" value="9800" />
    <add key="MDHUB_IP" value="192.168.1.234" />
    <add key="MDHUB_PORT" value="10003" />
    <add key="NewMultiCast_IP" value="225.0.0.2" />
    <add key="NewMultiCast_Port" value="9900" />
    <add key="SEND_BULK_CNT" value="8" />
    <add key="SEND_WARN_CNT" value="5000" />
    <add key="Max_Connection_Cnt" value="300" />
    <add key="SendBufferSize" value="1M" />
    <add key="SendThread_Cnt" value="1" />
    <add key="SendThread_Priority" value="0" />
    <add key="SendInterval" value="10" />
    <add key="CanSubAll" value="No" />
    <add key="LogOutData" value="YES" />
    <add key="FilterExchangeNo" value="CME_CBT,DME,BMD" />
    <add key="DBShare" value="Server=192.168.1.225;user id=sa;password=shzd!@#456;initial catalog=ForeignShare;Enlist=false;Min Pool Size=1;Max Pool Size=1" />
    <add key="SQL_GET_CONTRACTS" value="NO_OPT" />
    <add key="RANDOM_UPPER_BOUND" value="100" />
    <add key="IS_CME_DIRECT" value="No" />
    <add key="GetDayDataHour" value="5" />
    <add key="REDIRECT_SUB2" value="" />
    <add key="REDIRECT_SUB2BAK" value="" />
    <add key="MAIL_SERVER_NAME" value="smtp.shanghaizhida.com" />
    <add key="MAIL_FROM" value="itsupport@shanghaizhida.com:123456" />
    <add key="MAIL_TO" value="jingxiaohui@shanghaizhida.com" />
    <add key="MAIL_SUBJECT" value="Market Sub2 server warning" />
    <add key="RELOAD_SETTLE_PRX" value="" />
    <add key="AppDesciption" value="hello" />
    <add key="AutoStart" value="No" />
    <add key="StockPushIntervalSec" value="300" />
    <add key="TargetProductCode" value="" />
    <add key="IsSaveDestinationIPTrace" value="Yes" />
    <add key="IsSaveActiveOption" value="No" />
    <add key="BeforeStockOpenTime" value=".KR,200,7:55:00;.US,201,21:25:00;.HK,202,8:55:00" />
    <add key="PinBufferCnt" value="6000" />
    <add key="DoRightCheck" value="No" />
    <add key="AuthServerIP" value="192.168.1.1" />
    <add key="AuthServerPort" value="9831" />
    <add key="FutrueFeeCheckExchg" value="GC:CME_COMEX;CL:CME_NYMEX;6E:CME;CT:ICE_US;BRN:ICE_EC;L-Z:ICE_EF;HSI:HKEX;FDAX:XEurex" />
    <add key="FutrueForbiddenExchg" value="" />
    <add key="MondayStartTimeSpecial" value="FNG:-120;MME:-180;OQD:-45;DCD:-45;DBI:-45;BRN:-120;BM:-120;GM:-120;TM:-120;DX:-120" />
    <add key="TradeDateOffsetMinute" value="15" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="file" type="System.Diagnostics.TextWriterTraceListener" initializeData="trace.log" />
      </listeners>
    </trace>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
